/.metadata/
@ -1,34 +1 @@
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
MeFunnyBoot/.apt_generated
MeFunnyBoot/.classpath
MeFunnyBoot/.factorypath
MeFunnyBoot/.project
MeFunnyBoot/.settings
MeFunnyBoot/.springBeans
MeFunnyBoot/.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
MeFunnyBoot/mefunny.log

*.log

