<!DOCTYPE html>
<html>
    
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="login.component.css" />
    </head>
    
    
    <body>
      <header>
          <div>
            <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Login</h1>
          </div>
      </header>

      <h2>Please Login:</h2>
      <div id="submission">
        <form id="login_form" method="POST" action="http://localhost:7000/user/login">
            <input type="text" placeholder="Username" required maxlength="20" name="username" id="user"/>
            <input type="text" placeholder="Password" required name="password" id = "pass"/>
            <input type="submit" value="Login" id = "submit" required/>
        </form>
      </div>

      
      <style>
          h3 {
            color: black;
          }

          .reimbursement_div{
              background-color: lightslategray;
          }
      </style>
      <footer>
          <h5>Copyright No One. No Rights Reserved.</h5>
      </footer>
    </body>
    
</html>