<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    
    <head>
        <title>Login page</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="login.component.css" />
    </head>
    
    
    <body>
      <header>
          <div>
            <h1 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Login</h1>
          </div>
      </header>
      <div th:if="${param.error}">
        Invalid username and password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>
      <h2>Enter Login:</h2>
      <div id="submission">
        <form id="login_form" method="post" action="http://localhost:8080/login">
          <label>Username</label>
          <input type="text" placeholder="Username" required maxlength="20" name="username" id="user"/>
          <label>Password</label>
          <input type="text" placeholder="Password" required name="password" id = "pass"/>
          <input (click)="loginUser()"  type="submit" value="Login" id = "submit" required/>
          <input  type="submit" value="Register" id = "register" required/>
          <!--(click)="registerUser()"-->
        </form>
      </div>

      
      <style>
          h3 {
            color: black;
          }

          .reimbursement_div{
              background-color: lightslategray;
          }
      </style>
      <footer>
          <h5>Copyright No One. No Rights Reserved.</h5>
      </footer>
    </body>
    
</html>